  <div class="row">
      <% @guests.each do |guest| %>
        <div class="col-xs-12 col-sm-4">
          <p>Name: <%=guest.name  %></p>
          <p>Email: <%=guest.email  %></p>
          <p>Kommen: <%= guest.coming %></p>
          <p>Kommentar: <%=guest.excuse  %></p>
          <p>Erwachsene: <%=guest.adult  %></p>
          <p>Kinder: <%=guest.child  %></p>
        </div>
      <% end %>
    </div>

