<div class="col-xs-12 col-sm-10 col-sm-offset-1">
  <div class="form-group" style="padding-bottom: 30px;">
    <h1 class="text-center">Zu-/Absagen</h1>
    <%= simple_form_for @guest do |form| %>
      <%= form.input :name, as: :string, placeholder: 'Name', class: "form-black" %>
      <div id="form-black"><%= form.input :email, required: true, as: :email, placeholder: "Email", style: "color: black;", type: "email"  %></div>
      <%= form.input :excuse, label: "Kommentar", required: true, as: :text, placeholder: 'Gibt es noch etwas was ihr uns mitteilen wollt? Was ist eure Ausrede falls ihr nicht kommt?', class: "form-control"  %>
      <%= form.input :adult, label: "Erwachsene", required: true, as: :integer, placeholder: 'Wie viele Erwachsene kommen? Zum Beispiel: 2'%>
      <%= form.input :child, label: "Kinder", required: true, as: :integer, placeholder: 'Wie viele Kinder kommen? Zum Beispiel: 3' %>
      <%= form.input :coming, as: :boolean, checked_value: true, undchecked_value: false, inline_label: 'Kommt ihr zur Hochzeit? Zum Beispiel:  ✓=Ja ⎕=Nein' %>
      <%= form.input :hotel, as: :boolean, checked_value: true, unchecked_value: false, inline_label: 'Wir wollen im Hotel Wildland schlafen'  %>
      <%= form.button :submit, "Senden", class: "btn-lg btn-primary" %>
    <% end %>
  </div>



</div>
