<div class="col-xs-12 col-sm-10 col-sm-offset-1">

  <div class=" text-center" >
    <h1>Gruppenflittern</h1>
    <p>Da es so schade wäre, unsere liebsten Menschen nur so kurz zu sehen, haben wir uns das Gruppenflittern ausgedacht:</p>
    <p>Im Anschluss an die Feierei feiern wir ab dem 12.8. bis zum 17.8. an unserem geliebten Weststrand in Prerow weiter. Dazu wird <a href="https://www.regenbogen.ag/ferienanlagen/prerow.html" target="about_blank"> in den Dünen übernachtet.</a></p>
    <p>Wenn ihr dabei seid, sagt bitte Bescheid, damit wir eine entsprechende Anzahl Wohnwägen/Zeltplätze reservieren können:</p>
  </div>


  <div class="form-group form-padding">
    <%= simple_form_for @honeymoon do |form| %>
      <%= form.input :name, as: :string, placeholder: 'Name', class: "form-black" %>
      <%= form.input :email, required: true, as: :email, placeholder: 'Email', class: "form-control form-black", type: "email"  %>
      <%= form.input :comment, label: "Kommentar", as: :text, placeholder: 'Gibt es noch etwas was ihr uns mitteilen wollt? Was ist eure Ausrede falls ihr nicht kommt?', class: "form-control"  %>
      <%= form.input :additional, label: "Personen", required: true, as: :integer, placeholder: 'Wie viele Personen kommen? Zum Beispiel: 3' %>
      <%= form.input :coming, required: true, as: :boolean, checked_value: true, unchecked_value: false, inline_label: 'Kommt ihr zum Gruppenflittern? ✓=Ja ⎕=Nein'  %>
      <%= form.input :caravan, as: :boolean, checked_value: true, unchecked_value: false, inline_label: 'Wir brauchen einen Wohnwagen ✓=Ja ⎕=Nein'  %>
      <%= form.input :tent, as: :boolean, checked_value: true, unchecked_value: false, inline_label: 'Wir brauchen einen Zeltplatz ✓=Ja ⎕=Nein'  %>
       <%= form.input :ownbus, as: :boolean, checked_value: true, unchecked_value: false, inline_label: 'Wir schlafen im eigenen Bus / Wohnwagen ✓=Ja ⎕=Nein'  %>
      <%= form.button :submit, "Senden", class: "btn-lg btn-primary" %>
    <% end %>
  </div>
</div>



