<a href="#" id="showLeft" class="btn-mobile"><%= image_tag "menu-button.png", id: "bars" %></a>
<nav class="menu-mobile menu-left">
  <a href="#" class="backBtn">&#8592; Zurück</a>
  <ul>
    <h2><li><%= link_to "ZU-/ABSAGEN", zu_und_absagen_path %></li></h2>
    <h2><li><%= link_to "ABLAUF", ablauf_path %></li></h2>
    <h2><li><%= link_to "DRESSCODE", dresscode_path %></li></h2>
    <h2><li><%= link_to "UNTERKUNFT", unterkunft_path %></li></h2>
    <h2><li><%= link_to "GRUPPENFLITTERN", gruppenflittern_path %></li></h2>
    <h2><li><%= link_to "GESCHENKE/ BEITRÄGE ", geschenke_path %></li></h2>
    <h2><li><%= link_to "KONTAKT", kontakt_path %></li></h2>
  </ul>
</nav>
