<nav class="menu-big hidden-xs hidden-sm">
  <ul>
    <h2><li><%= link_to "ZU-/ABSAGEN", zu_und_absagen_path %></li></h2>
    <h2><li><%= link_to "ABLAUF", ablauf_path %></li></h2>
    <h2><li><%= link_to "DRESSCODE", dresscode_path %></li></h2>
    <h2><li><%= link_to "UNTERKUNKT", unterkunft_path %></li></h2>
    <h2><li><%= link_to "GRUPPENFLITTERN", gruppenflittern_path %></li></h2>
    <h2><li><%= link_to "GESCHENKE / BEITRÄGE", geschenke_path %></li></h2>
    <h2><li><%= link_to "KONTAKT", kontakt_path %></li></h2>
  </ul>
</nav>









