<nav class="menu">
  <ul>
    <h2><li><%= link_to "Zu-/Absagen", zu_und_absagen_path %></li></h2>
    <h2><li><%= link_to "Ablauf", ablauf_path %></li></h2>
    <h2><li><%= link_to "Dresscode", dresscode_path %></li></h2>
    <h2><li><%= link_to "Unterkunft", unterkunft_path %></li></h2>
    <h2><li><%= link_to "Gruppenflittern", gruppenflittern_path %></li></h2>
    <h2><li><%= link_to "Geschenke", geschenke_path %></li></h2>
    <h2><li><%= link_to "Kontakt", kontakt_path %></li></h2>
  </ul>
</nav>

