<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Hochzeit von Sophia und Jasper</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
  <body>
    <a href="#" id="showLeft" class="btn-mobile"><%= image_tag "menu-button.png", id: "bars" %></a>
    <nav class="menu-mobile menu-left">
      <a href="#" class="backBtn">&#8592; Zurück</a>
      <ul>
        <h2><li><%= link_to "ZU-/ABSAGEN", zu_und_absagen_path %></li></h2>
        <h2><li><%= link_to "ABLAUF", ablauf_path %></li></h2>
        <h2><li><%= link_to "DRESSCODE", dresscode_path %></li></h2>
        <h2><li><%= link_to "UNTERKUNKT", unterkunft_path %></li></h2>
        <h2><li><%= link_to "GRUPPENFLITTERN", gruppenflittern_path %></li></h2>
        <h2><li><%= link_to "GESCHENKE/ BEITRÄGE ", geschenke_path %></li></h2>
        <h2><li><%= link_to "KONTAKT", kontakt_path %></li></h2>
      </ul>
    </nav>
    <div class="bg-image"></div>
    <div class="s-und-j-pic-center">
      <div class="s-und-j-pic"></div>
    </div>
    <div class="main-content">
      <div class="container white-font">
        <%= render 'pages/navbar' %>
        <div class="row">
          <div class="col-xs-12 col-sm-10 col-sm-offset-1">
           <%= yield %>
           <%= javascript_include_tag 'application' %>
           <%= javascript_pack_tag 'application' %>

         </div>
       </div>
     </div>
   </div>
 </body>
</html>
