<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Hochzeit von Sophia und Jasper</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
  <body>
    <%= render 'pages/mobile-navbar' %>
    <div class="bg-image"></div>
    <div class="s-und-j-pic-center">
      <div class="s-und-j-pic"></div>
    </div>
    <div class="main-content">
      <div class="container white-font">
        <%= render 'pages/navbar' %>
        <div class="row">
         <%= yield %>
         <%= javascript_include_tag 'application' %>
         <%= javascript_pack_tag 'application' %>
       </div>
     </div>
   </div>
 </body>
</html>
